$font-color: rgb(128, 119, 119);

.section{
    padding: 10px;
    height: 100px;
}


.number{
    float: left;
    color: $font-color;
    padding: 12px 5px;
    width: 5%;
}

.pictureBox{
    float: left;
    width: 30%;
    color: $font-color;
    figure{
        display: inline-block;
        overflow: hidden;
        width: 80%;
        height: auto;
        margin: 0 10px;
  

        img{
            height: 100%;
            width: 100%;
        }
    }

}

.boxBorder{
    border-radius: 20px; 
}
.circleBorder{
    border-radius: 50px;  
}



.details{
    float: left;
    color: $font-color;
    line-height: 20px;
    width:65%;
    height: 100%;
    font-size: 75%;

    ul{
        margin-top: 8px;
        list-style: none;
        padding-inline-start: 5px;
        
        li{
            &:first-child{
                font-size: 100%;
                font-weight: 800;
            }
        }

    }



}