$font-color: rgb(128, 119, 119);


.appsBox{
    height: 100%;
    width: 100px;
    display: inline-block;
    color: $font-color;
    padding: 5px;
    vertical-align: top;


    picture{
        width: 100%;

        img{
            height: auto;
            width: 100%;
            border-radius: 20px;  
        }
    }

    ul{
        padding-inline-start: 0px;
        line-height: 18px;
        li{
            list-style: none;
            font-size: 70%;
            font-weight: 300;
            
            &:first-child{
                font-weight: 800; 
            }
        }
    }

}